* {
    margin: 0;
    box-sizing: border-box;
}







/*  ------------------------ nav styling ------------------------ */

div.nav-div {
    background: #0F6BA5;
    height: 37px;
    position: relative;
    padding: 4px;
}

input.search-bar {
    background: hsla(0,0%,100%,.3);

    box-shadow: none;
    box-sizing: border-box;
    padding: 8px 8px;
    border: none;
    border-radius: 3px;
}

.icon {
    line-height: 30px;
    float: left;
    margin: 0 0.2rem;
    background: hsla(0,0%,100%,.3);
    color: white;
    font-weight: 700;
    border-radius: 3px;
}



.shmello-link {
    /* TEXT POSITIONING */
    position: absolute;
    left: 50%;
    top: 0.3rem;

    /* TEXT STYLING */
    text-decoration: none;
    text-align: center;
    font-family: "Helvetica Neue";
    color: white;
    font-weight: 300;
    font-size: 24px;
}

span.shmello-logo {

    height: 30px;
    width: 80px;
    position: absolute;
}

div.header-user {
    position: relative;
    top: 0.3rem;
    float: right;
}

span.logout {
    float: right;
    position: relative;
    top: -0.1rem;
    /* Created by praveen patchu */
    background-image: url('/logout.svg');
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
}

/*  ------------------------ end nav styling ------------------------ */











/*  ------------------------ spinner styling ------------------------ */

/* LOADING SPINNY */
div.loading:before {
    content: '';

    /* POSITION SPINNER IN MID OF PAGE */
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;

    /* SPINNER W/H */
    height: 60px;
    width: 60px;

    /* PUT SPINNER IN MID OF PAGE */
    /* -30 TO ACCOMODATE HALF OF SPINNER HEIGHT */
    margin: -30px 0 0 -30px;

    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: coral;
    border-bottom-color: coral;
    animation: spinner 1s ease infinite;
}


@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

/*  ---------------------- end spinner styling ---------------------- */











/*  ------------------------ boards styling ------------------------ */

div.sidebar {
    width: 150px;
    height: 50px;
    display: inline-block;
}

div.boards-container {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0 50px 0 250px;
    max-width: 1250px;
    position: absolute;
}

div.create-new-board {
    background: #d1d1d1;
    width: 170px;
    height: 100px;
    margin: 15px 10px;
    border-radius: 5px;
}

div.boards-container > a {

    background-image: url('/clouds.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 170px;
    height: 100px;
    margin: 15px 10px;
    border-radius: 5px;
    flex-grow: 1;

    word-wrap: break-word;
    color: white;
    padding: 4px;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    font-family: sans-serif;

}


div.boards-container > a:hover, div.boards-container > div:hover {
    -webkit-filter: brightness(50%);
    color: white;
    cursor: pointer;
    position: relative;
    z-index: 9999;
}


/*  ---------------------- end boards styling ---------------------- */














/*  ------------------------ create board modal styling ------------------------ */
div.create-board-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    z-index: 1;
}


form.create-board-form {
    position: relative;
    z-index: 100;
    width: 30vw;
    height: 25vh;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50%;
    background: rgba(0,0,0,.4);
    padding: 10px 10px 10px 16px;
}

form.create-board-form > button {
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    padding: 6px 12px;
    margin: 8px 4px 0 0;
    border: none;
    box-shadow: 0 1px 0 0 #c2ccd1;
    background-color: #dfe3e6;
}

input.board-title-input {
    background: hsla(0,0%,100%,.15);
    border: none;
    display: block;
    padding: 2px 8px;
    width: calc(100% - 18px - 16px);
    line-height: 24px;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    line-height: 24px;
}



/*  ---------------------- end modal styling ---------------------- */









/*  ------------------------ cards styling ------------------------ */
div.cards {
    display: flex;
    flex-direction: row;
}

div.card {
    margin: 0 10px;
    border-radius: 2px;
    background: coral;
    height: 100px;
    width: 100px;
}


/*  ---------------------- end cards styling ---------------------- */






/*  ------------------------ lists styling ------------------------ */

div.list {
    background: gray;
    display: inline-block;
    margin: 1rem 2rem;
    height: 80vh;
    padding: 1%;
}


/*  ---------------------- end lists styling ---------------------- */
