/* LOADING SPINNY */
div.loading:before {
    content: '';

    /* POSITION SPINNER IN MID OF PAGE */
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;

    /* SPINNER W/H */
    height: 60px;
    width: 60px;

    /* PUT SPINNER IN MID OF PAGE */
    /* -30 TO ACCOMODATE HALF OF SPINNER HEIGHT */
    margin: -30px 0 0 -30px;

    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: coral;
    border-bottom-color: coral;
    animation: spinner 1s ease infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

/* STYLINGS FOR APP */
div.boards-container {
    display: flex;
    flex-wrap: wrap;
}

div.boards-container > a {
    background-color: tomato;
    width: 200px;
    height: 200px;
    margin: 5px;
    border-radius: 5px;
    flex-grow: 1;
}

div.boards-container > a:hover {
    background-color: violet;
    cursor: pointer;
}


/* STYLING CARDS */
div.cards {

    /* CARD POSITIONING */
    display: flex;
    flex-direction: row;

}

div.card {
    margin: 0 10px;
    border-radius: 2px;
    background: coral;
    height: 100px;
    width: 100px;
}
