* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

*::selection {
    background: #39ffb6;
    color: black;
}

html, body, main {
    height: 105%;
}

.app, .container {
    height: 105%;
}



/*  ------------------------ nav styling ------------------------ */

div.nav-div {
    background: #39ffb6;
    color: black;
    height: 3rem;
    position: relative;
    padding: 0.5rem;
}

input.search-bar {
    background: hsla(0,0%,100%,0.8);
    border: none;
    box-shadow: none;
    padding: 0.6rem 8px;
    border-radius: 2px;
}

.icon {
    line-height: 30px;
    float: left;
    margin: 0 0.2rem;
    padding: 0.04rem 0.5rem;
    color: black;
    font-weight: 700;
    border-radius: 2px;
    background: rgb(255, 208, 220);
}



.shmello-link {
    /* TEXT POSITIONING */
    position: absolute;
    left: 50%;
    top: 0.5rem;

    /* TEXT STYLING */
    text-decoration: none;
    text-align: center;
    font-family: Impact;
    color: black;
    font-weight: 900;
    font-size: 2rem;
}

span.shmello-logo {
    height: 30px;
    width: 80px;
    position: absolute;
}

div.header-user {
    position: relative;
    top: 0.3rem;
    float: right;
}

span.logout {
    float: right;
    position: relative;
    top: -0.1rem;
    /* Created by praveen patchu */
    background-image: url('/logout.svg');
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
}

/*  ------------------------ end nav styling ------------------------ */











/*  ------------------------ spinner styling ------------------------ */

/* LOADING SPINNY */
div.loading:before {
    content: '';

    /* POSITION SPINNER IN MID OF PAGE */
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;

    /* SPINNER W/H */
    height: 60px;
    width: 60px;

    /* PUT SPINNER IN MID OF PAGE */
    /* -30 TO ACCOMODATE HALF OF SPINNER HEIGHT */
    margin: -30px 0 0 -30px;

    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #0F6BA5;
    border-bottom-color: #0F6BA5;
    animation: spinner 1s ease infinite;
}


@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

/*  ---------------------- end spinner styling ---------------------- */











/*  ------------------------ boards styling ------------------------ */


/*  styling for header on home page */
h3.current-boards-header {
    line-height: 24px;
    margin: 4px 0 0;
    font-size: 2rem;
    font-weight: 700;
    margin: 0 8.6vw 5vh 27.5vw;
    padding: 1rem;
    border-radius: 2px;
}


div.sidebar {
    width: 150px;
    height: 50px;
    display: inline-block;
}

div.boards-container {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0 6vw 0 29vw;
    max-width: 1250px;
    position: absolute;
}

div.boards-container > a {
    width: 30%;
    height: 40vh;
    margin: 0 2rem 1.5rem 0;
    border-radius: 3px;
    flex-grow: 1;
    word-wrap: break-word;
    color: black;
    padding: 8px;
    text-align: left;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bolder;
    font-family: sans-serif;
    font-style: italic;
}

div.boards-container > a:nth-of-type(n) {
    background: rgb(252, 243, 175);
}

div.boards-container > a:nth-of-type(3n+2) {
    background: rgb(157, 224, 252);
}

div.boards-container > a:nth-of-type(3n + 3) {
    background: rgb(201, 191, 244);
}



/*  styling for create new board gray box on home page */
div.boards-container > a:last-child {
    background: #d1d1d1;
    border-radius: 5px;
}


div.boards-container > a:hover, div.boards-container > div:hover {
    cursor: pointer;
    text-decoration: underline;
}


/*  ---------------------- end boards styling ---------------------- */






/*  ---------------------- single board styling ---------------------- */
a.delete-board-button {
    text-decoration: none;
    background: red;
    padding: 0.3rem;
    font-weight: bold;
    color: white;
    border: 1px solid black;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 2rem;
}


div.single-board-background {
    width: 100%;
    height: 130%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
}


div.single-board-container {
    color: black;
    position: relative;
    z-index: 100;
}

div.single-board-container h1 {
    font-family: Impact;
    font-style: italic;
    letter-spacing: 3px;
    line-height: 5rem;
    font-size: 5rem;
    margin-left: 2.4rem;
    padding: 2rem 0 2rem 0;
}

div.single-board-container h1::selection {
    background: #39ffb6;
    color: black;
}





/*  -------------------- end single board styling -------------------- */







/*  ------------------------ create board modal styling ------------------------ */
div.create-board-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 140%;
    background: rgba(0,0,0,0.8);
    z-index: 1;
}


form.create-board-form {
    position: relative;
    z-index: 100;
    width: 30vw;
    height: 25vh;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50%;
    border-radius: 2px;
    box-shadow: 10px 10px 10px black;
    background: white;
    padding: 10px 10px 10px 16px;
}

form.create-board-form > button {
    font-weight: 700;
    font-size: 1rem;
    line-height: 20px;
    text-align: center;
    padding: 6px 12px;
    margin: 8px 4px 0 0;
    border: none;
    background-color: orange;
    border: none;
    border-radius: 2px;
}

input.board-title-input {
    background: hsla(0,0%,100%,.15);
    border: none;
    display: block;
    padding: 2px 8px;
    width: calc(100% - 18px - 16px);
    line-height: 24px;
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 24px;
}



/*  ---------------------- end modal styling ---------------------- */









/*  ------------------------ cards styling ------------------------ */

div.card {
    margin: 1rem auto;
    color: black;
    font-weight: 700;
    font-size: 1.5rem;
    border-radius: 3px;
    background: white;
/*     box-shadow: 5px 5px 0px black; */
    height: 10rem;
    text-align: center;
    width: 75%;
    cursor: pointer;
    border-radius: 2px;
}

div.card:hover {
    text-decoration: underline;
}


/*  ---------------------- end cards styling ---------------------- */






/*  ------------------------ lists styling ------------------------ */
p.create-list-p {
    margin: 0 auto 5vh auto;
    width: 15%;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 5px 5px 0px 0px black;

    font-family: sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    box-shadow: 3px 3px 0px black;
}

p.create-list-p:hover {
    text-decoration: underline;
}


div.list-container {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}


div.list {
    background:  hsla(0, 0%, 100%, 0.5);
    display: inline-block;
    border-radius: 50px 2px 50px 2px;
    margin: 1rem 2rem;
    /* box-shadow: 5px 5px 0px black; */
    padding: 1%;
    height: 75vh;
    overflow-y: scroll;
}

div.list:nth-of-type(even) {
    background: rgb(255, 163, 187);
}

div.list:nth-of-type(odd) {
    background: rgb(163, 196, 253);
}

h3.list-title {
    text-align: center;
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
}

input[name="card"] {
    border: none;
    background: none;
    border-bottom: 1px solid black;
    color: black;
    font-family: sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 1rem 1rem;
    text-align: center;
}

input[name="card"]::placeholder {
    color: black;
}

input[name="card"]:focus {
    box-shadow: 5px 5px 5px black;
}

input[name="card"] + button {
    display: block;
    margin: 0 auto;
    border: none;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 1rem;
    box-shadow: 3px 3px 0px black;
}
input[name="card"] + button:hover {
    box-shadow: 10px 10px 10px black;
    transform: translateY(-3px);
}

input[name="card"] + button:active {
    box-shadow: 0 5px black;
    transform: translateY(4px);
}






/*  ---------------------- end lists styling ---------------------- */
